body {
    background-color: black;
    color: white
}
h1 {
    color: orange;
    text-align: center;
}

img {
    height: 200px;
    width: 600px
}

h1 p {
    color: red;
}

a{
    font-size: 200%
}
a:hover{
    color: yellow
}

table, tr, th {
    border: 1px solid red;
    border-collapse: collapse;
    padding: 5px;
}